.idea/

network/consensus/beacondata
network/consensus/genesis.ssz
network/consensus/validatordata
network/execution/geth
network/execution/geth.ipc

blockscout/services/blockscout-db-data
blockscout/services/stats-db-data
blockscout/services/redis-data
blockscout/services/logs
blockscout/tmp

network-back

TODO.md
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
