[submodule "onchain/lido-core"]
	path = onchain/lido-core
	url = git@github.com:lidofinance/core.git
	branch = feat/local-devnet
[submodule "onchain/csm"]
	path = onchain/csm
	url = git@github.com:lidofinance/community-staking-module.git
	branch = feat/devnet
[submodule "ofchain/lido-cli"]
	path = ofchain/lido-cli
	url = git@github.com:lidofinance/lido-cli.git
	branch = feature/devnet-command
[submodule "ofchain/staking-deposit-cli"]
	path = ofchain/staking-deposit-cli
	url = git@github.com:lidofinance/staking-deposit-cli-devnet.git
	branch = devnet
[submodule "ofchain/kapi"]
	path = ofchain/kapi
	url = git@github.com:lidofinance/lido-keys-api.git
