[submodule "onchain/lido-core"]
	path = onchain/lido-core
	url = git@github.com:lidofinance/core.git
	branch = feat/local-devnet
[submodule "onchain/csm"]
	path = onchain/csm
	url = git@github.com:lidofinance/community-staking-module.git
	branch = feat/devnet
[submodule "ofchain/lido-cli"]
	path = ofchain/lido-cli
	url = git@github.com:lidofinance/lido-cli.git
	branch = feature/devnet-command
[submodule "ofchain/staking-deposit-cli"]
	path = ofchain/staking-deposit-cli
	url = git@github.com:lidofinance/staking-deposit-cli-devnet.git
	branch = devnet
[submodule "ofchain/kapi"]
	path = ofchain/kapi
	url = git@github.com:lidofinance/lido-keys-api.git
	branch = feat/devnet
[submodule "ofchain/scripts"]
	path = ofchain/scripts
	url = git@github.com:lidofinance/scripts.git
	branch = feat/pectra-devnet
[submodule "ofchain/oracle-master"]
	path = ofchain/oracle-master
	url = git@github.com:lidofinance/lido-oracle.git
	branch = master
[submodule "ofchain/oracle-v5"]
	path = ofchain/oracle-v5
	url = git@github.com:lidofinance/lido-oracle.git
	branch = feat/oracle-v5-devnet-config
[submodule "ofchain/council-daemon"]
	path = ofchain/council-daemon
	url = git@github.com:lidofinance/lido-council-daemon.git
[submodule "ofchain/dsm-bots"]
	path = ofchain/dsm-bots
	url = git@github.com:lidofinance/depositor-bot.git
[submodule "onchain/data-bus"]
	path = onchain/data-bus
	url = git@github.com:lidofinance/data-bus.git
