.idea/
.yarn
node_modules


devnet-dc/network/consensus/beacondata
devnet-dc/network/consensus/genesis.ssz
devnet-dc/network/consensus/validatordata
devnet-dc/network/execution/geth
devnet-dc/network/execution/geth.ipc

devnet-dc/blockscout/services/blockscout-db-data
devnet-dc/blockscout/services/stats-db-data
devnet-dc/blockscout/services/redis-data
devnet-dc/blockscout/services/logs
devnet-dc/blockscout/tmp

network-back

TODO.md
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build



